<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="AURA Scheduler" Manufacturer="TheYo" Version="$(Version)" UpgradeCode="264899C9-951A-4545-9D88-DAB9E2E95FC8" Scope="perUserOrMachine">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Property Id="ARPPRODUCTICON" Value="uiapp.exe" />

		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="Main" Title="AURA Scheduler">
			<ComponentGroupRef Id="AURASchedulerUIComponents"/>
		</Feature>
	</Package>
</Wix>
